@import "../styles/abstracts/animation.module.scss";

.container {
  margin: auto;
  // padding: 6rem 6rem;
  max-width: 90%;
  height: 60rem;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  align-items: center;
  margin-bottom: 12rem;
}

.heroTxt {
  // flex: 50%;
  margin-top: 5rem;
 

  &__txt {
    display: flex;
    justify-content: space-between;
  }
  &__heading {
    font-size: 2.6rem;
  }
}

.heroBtn {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.heroImg {
  flex: 50%;
  text-align: center;
  

  // margin-left: 6rem;
  -webkit-filter: drop-shadow(5px 5px 25px rgba(145, 126, 255, 0.5));
  filter: drop-shadow(5px 5px 25px rgba(145, 126, 255, 0.5));
  animation: none;

  &:hover {
    animation: rotation 20s infinite linear;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 12rem;
  }

  .heroTxt {
    margin-bottom: 4rem;
  }

  .heroImg{
    top: 0;
    width: 50%;
  text-align: center;

  &:hover {
    animation: none;
  }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
